{{screen-title title=model.name navigation="home"}}
<form class="game active {{if model.isOver "over"}}" action="#" {{action "addRound" newRoundScores on="submit"}}>
  {{#if model.isLeague}}
    {{dumbal-league-banner}}
  {{/if}}
  <div class="players {{if isFinishingRound "round"}}">
    {{#each model.players as |player|}}
    <div class="player {{if player.isOut "is-out"}} {{if player.isWinner "winner"}}">
        <span class="score">{{anim-count value=player.score}}</span>
        <strong class="name">
          {{player.name}} 
          {{#if player.isDealer}}
            {{dealer-mark}}
          {{/if}}
          {{#if player.isWinner}}
            {{fa-icon "star" class="winner-icon"}}
          {{/if}}
        </strong>
        {{mat-input type="number" name=player.name class="round-score" placeholder=0 value=(get newRoundScores player.name)}}
      </div>
    {{/each}}
  </div>
  {{#unless model.isOver}}
    <div class="dumbal-action">
      {{#if isFinishingRound}}
        <input type="submit" value="Next">
      {{else}}
        {{#link-to 'game.round' (query-params number=model.newRoundCount) class="button dumbal-round"}}Dumbal !{{/link-to}}
      {{/if}}
    </div>
  {{else}}
    <div class="dumbal-action">
      {{#link-to 'new-game' (query-params from=model.id) class="button dumbal-revenge"}}
        Revanche !
      {{/link-to}}
    </div>
  {{/unless}}


  {{#if model.roundCount}}
  {{game-rounds game=model}}
  <div class="dumbal-action">
    <button class="undo" {{action "removeRound" model.roundCount}} disabled={{if isFinishingRound "disabled"}}>Annuler dernière manche</button>
  </div>
  {{/if}}
</form>
{{outlet}}
