{{screen-title title=model.name}}
<form class="game active" action="#" {{action "addRound" newRoundScores on="submit"}}>
  <div class="players {{if isFinishingRound "round"}}">
    {{#each model.players as |player|}}
      <div class="player {{if player.isOut "is-out"}}">
        <span class="score">{{anim-count value=player.score}}</span>
        <strong class="name">{{player.name}}</strong>
        {{mat-input type="number" name=player.name class="round-score" value=(get newRoundScores player.name)}}
      </div>
    {{/each}}
  </div>
  <div class="dumbal-action">
    {{#if isFinishingRound}}
      <input type="submit" value="Next">
    {{else}}
      {{#link-to 'game.round' (query-params round=model.newRoundCount) class="button dumbal-round"}}Dumbal !{{/link-to}}
    {{/if}}
  </div>
  {{outlet}}
</form>
