{{#if model}}
  {{screen-title title="Lancer une revanche" navigation="back"}}
{{else}}
  {{screen-title title="Nouvelle Partie" navigation="back"}}
{{/if}}
<div class="new-game">
  <div class="game-name">
    {{mat-input label="Nom de la partie" value=newGameName placeholder=gameNamePlaceholder}}
  </div>

  {{labeled-switch class="is-league" value=isLeague label="Match de ligue"}}

  {{#each players as |name|}}
    <div class="player">
      <strong class="name">{{name}}</strong>
      <button {{action "removePlayer" name}}>-</button>
    </div>
  {{/each}}

  <form class="player new-player" {{action "addPlayer" newPlayerName on="submit"}}>
    {{mat-input label="Nom du joueur" value=newPlayerName autocomplete="off" maxlength=18}}
    <input type="submit" value="+" disabled={{unless newPlayerName "disabled"}}>
  </form>

  <div class="new-game-action">
    <button {{action "createGame" newGameName players}} disabled={{unless hasEnoughPlayers "disabled"}}>Feu</button>
  </div>
</div>
{{outlet}}
