{{screen-title title="Ton profil" navigation="home"}}
<div class="profile">
  <div class="identity">
    <div class="picture">
      <img class="picture" src="{{model.picture}}" alt="{{model.name}}">
    </div>
    <div class="names">
      <h3 class="nickname">
        {{model.nickname}}
      </h3>
      <h4 class="fullname">{{model.name}}</h4>
    </div>
  </div>

  <div class="details">
    <p>
      Il n'y pas encore grand chose ici :D désolé.
    </p>
  </div>
</div>
